In [1]:
import pandas as pd

In [2]:
sub_df = pd.read_csv('subm/predictions_0.01_0.55_avg.csv')

In [3]:
sub = pd.read_csv('sample_submission.csv')

In [4]:
sub_df.head()

            ImageId                                   PredictionString
0  00000b4dcff7f799  /m/07r04 0.637301 0.0026 0.1135 0.7096 0.8753 ...
1  00001a21632de752  /m/03bt1vf 0.494606 0.2765 0.6115 0.5104 0.998...
2  0000d67245642c5f  /m/0d5gx 0.735993 0.0202 0.0382 0.9911 0.9947 ...
3  0001244aa8ed3099  /m/03jm5 0.282691 0.0054 0.0422 0.8315 0.7736 ...
4  000172d1dd1adce0  /m/0d5gx 0.872770 0.2423 0.0112 0.7989 0.8416 ...

In [5]:
sub.head()

            ImageId                                   PredictionString
0  b5d912e06f74e948  /m/05s2s 0.9 0.46 0.08 0.93 0.5 /m/0c9ph5 0.5 ...
1  be137cf6bb0b62d5  /m/05s2s 0.9 0.46 0.08 0.93 0.5 /m/0c9ph5 0.5 ...
2  8d65ca08cb5ce8e8  /m/05s2s 0.9 0.46 0.08 0.93 0.5 /m/0c9ph5 0.5 ...
3  4d3ad1e52ad8c065  /m/05s2s 0.9 0.46 0.08 0.93 0.5 /m/0c9ph5 0.5 ...
4  9b94408691c7d7bf  /m/05s2s 0.9 0.46 0.08 0.93 0.5 /m/0c9ph5 0.5 ...

In [7]:
sub = sub.drop('PredictionString',axis=1)

In [9]:
final = pd.merge(sub,sub_df,on='ImageId')
final.head()

            ImageId                                   PredictionString
0  b5d912e06f74e948  /m/04yx4 0.537597 0.4318 0.2809 0.5377 0.7881 ...
1  be137cf6bb0b62d5  /m/04yx4 0.483357 0.4967 0.1238 0.8884 1.0000 ...
2  8d65ca08cb5ce8e8  /m/0nybt 0.747697 0.2949 0.5101 0.5608 0.9079 ...
3  4d3ad1e52ad8c065  /m/0fz0h 0.759059 0.1934 0.5308 0.8302 0.9150 ...
4  9b94408691c7d7bf  /m/063rgb 0.662614 0.0414 0.0560 0.6729 0.9737...

In [10]:
final.to_csv('subm1.csv',index=False)